<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  colors="false"
>
  <coverage>
    <include>
      <directory suffix=".php">src/NFe</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="NFe-API Test Suite">
      <directory>tests/NFe/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="-1" />
    <ini name="date.timezone" value="UTC"/>
    <env name="APP_ENV" value="testing"/>
    <env name="TEST_MODE" value="_override"/>
  </php>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
</phpunit>
